.button {
  @include reset-button;

  background-color: $theme-color;
  display: block;

  padding: 15px 20px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #000000;
  width: 100%;
  cursor: pointer;

  border-radius: 6px;
}
